In [67]:
dias = [3, 1, 10]
dias[0]

3

In [68]:
dias[1]

1

In [69]:
dias[2]

10

In [70]:
Z = [3,8,9]
Z[0] = 7
Z

[7, 8, 9]

In [71]:
V = [6,7,5,8,9]
L = V
print(V==L)
print(V is L)
V[0]=5
print(V)
print(L)

True
True
[5, 7, 5, 8, 9]
[5, 7, 5, 8, 9]

In [72]:
a = [81,82,83]
b=a[:]           #cria um clone com fatia
print(a==b)
print(a is b)
b[0] = 5
print(a)
print(b)

True
False
[81, 82, 83]
[5, 82, 83]

In [73]:
uma_lista = ['a','b','c','d','e','f']
print(uma_lista[1:3]) # : é o mesmo que até
print(uma_lista[:4])
print(uma_lista[3:])
print(uma_lista[:])

['b', 'c']
['a', 'b', 'c', 'd']
['d', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

In [74]:
a = [1,2,3]
b = a[:]
b[0] = 5
print(a[2])

3

In [75]:
minhaLista = [76, 92.3,"oi",True, 4, 76]
minhaLista[4] = "pitomba"
print(minhaLista)
minhaLista[3] = "Cibele"
print(minhaLista)
minhaLista[0] = 99
print(minhaLista)
minhaLista[2]
print(minhaLista)
minhaLista[3] = 0
print(minhaLista)

[76, 92.3, 'oi', True, 'pitomba', 76]
[76, 92.3, 'oi', 'Cibele', 'pitomba', 76]
[99, 92.3, 'oi', 'Cibele', 'pitomba', 76]
[99, 92.3, 'oi', 'Cibele', 'pitomba', 76]
[99, 92.3, 'oi', 0, 'pitomba', 76]

In [76]:
print(minhaLista[:3] + ["cibele"] + minhaLista[3:])

[99, 92.3, 'oi', 'cibele', 0, 'pitomba', 76]

In [77]:
minhaLista= [76,92.3,'oi',True,4,76]
print(minhaLista[:0] + [99] + minhaLista[0:])

[99, 76, 92.3, 'oi', True, 4, 76]

In [78]:
minhaLista= [76,92.3,'oi',True,4,76]
if minhaLista[0] == 'oi':
    print('Oi foi encontrado no índice 0')
elif minhaLista[1] == 'oi':
    print('Oi foi encontrado no índice 1')
elif minhaLista[2] == 'oi':
    print('Oi foi encontrado no índice 2')
elif minhaLista[3] == 'oi':
    print('Oi foi encontrado no índice 3')
elif minhaLista[4] == 'oi':
    print('Oi foi encontrado no índice 4')
elif minhaLista[5] == 'oi':
    print('Oi foi encontrado no índice 5')
else:
    print('Oi não foi encontrado em nenhum índice :)')

Oi foi encontrado no índice 2

In [79]:
uma_lista = [4,2,8,6,5]
uma_lista = uma_lista + ["Cibele"]
print(uma_lista)

[4, 2, 8, 6, 5, 'Cibele']

In [1]:
tupla_nova = (10,20,30)

In [2]:
tupla_nova = 10,20,30

In [3]:
tupla_elemento = 10,

In [4]:
tupla_vazia = ()
tupla_vazia

()

In [5]:
tuplas_nomes = ('Marlene','Zezinho','Marlene','Cibele','Zuely')
print(tuplas_nomes.count('Marlene'))
print(tuplas_nomes.count('Suely'))
print(tuplas_nomes.count('Zezinho'))

2
0
1

In [6]:
tupla = (1,2,2,3,4,4,4,5)
print(tupla.count(4))

3